apiVersion: batch/v1
kind: Job
metadata:
  name: {{ include "download.name" . }}-job
spec:
  template:
    spec:
      containers:
      - name: downloader
        image: python:3.10
        command: ["/bin/sh", "-c"]
        args:
        - mkdir -p "\${MOUNT_PATH}/\${MODEL_PATH}" && \
          pip install huggingface_hub && \
          export PATH="\${PATH}:\${HOME}/.local/bin" && \
          hf auth login --token "${HF_TOKEN}" && \
          hf download "\${HF_MODEL_ID}" --local-dir "/cache/\${MODEL_PATH}"
        env:
          - name: MODEL_PATH
            value: models/{{ required "ERROR .Values.hf_model must be set" .Values.hf_model }}
          - name: HF_MODEL_ID
            value: {{ .Values.hf_model }}
          - name: HF_TOKEN
            valueFrom:
              secretKeyRef:
                name: {{ .Values.hf_secret }}
                key: HF_TOKEN
          - name: HF_HOME
            value: /tmp/huggingface
          - name: HOME
            value: /tmp
          - name: MOUNT_PATH
            value: /cache
        volumeMounts:
          - name: model-cache
            mountPath: /cache
      restartPolicy: OnFailure
      volumes:
        - name: model-cache
          persistentVolumeClaim:
            claimName: {{ .Values.pvc.name }}